<!-- <p>getbooks works!</p> -->

<div class="bookdisplay">
  <div *ngFor="let book of booksArray">
      <div class=" bookcard ">
          <div class="bookImg">
              <img class="img" src="/assets/Image 11.png">
          </div> 
          <div class="descriptionblock ">
              <h4 class="name">{{book.bookName}}</h4>
              <h5 class="author">by {{book.author}}</h5>
              <div class="quantityAndRate">
                  <div class="rate">
                      <p style="color: white;"> 4.5</p>
                      <mat-icon class="star">grade</mat-icon>
                  </div>
              </div>
          </div>
      </div>
  </div> 
</div>